html, body, div, span, label, article, main, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
:root {
	font-size: 14px;
	font-family: sans-serif;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f0f0f0;
	line-height: 1.6;
}
main {
	display: flex;
	width: 90vw;
	max-width: 1200px;
	margin: 3rem 0;
	background-color: #fff;
	box-shadow: 0 0 .5rem rgb(0, 0, 0, .1);
	border-radius: .5rem;
}
article {
	display: block;
	width: 100%;
	padding: 1rem 2rem 2rem;
}
.cm-editor {
	width: 100%;
	height: 450px;
	max-height: 100vh;
	border-radius: .3em;
	border: 1.5px solid #dedede;
	margin-top: .5em;
}
#footer {
	margin-top: .5rem;
}

@media screen and (max-width: 720px) {
	main {
		width: 100%;
		margin: 0;
		border-radius: 0;
	}
	article {
		padding: 1rem;
	}
	.cm-content {
		font-size: 16px;
	}
}
